<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="http-source" value="http://devcore3:81/nuget" allowInsecureConnections="true" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>